/* colors */
/* #72FF64; */
/* hotpink */
/* @import url('https://fonts.googleapis.com/css?family=Righteous|Spicy+Rice'); */
/* font-family: 'Spicy Rice', cursive; */
/* font-family: 'Righteous', cursive; */
.testing {
    background-color: hotpink;
    color: #72FF64;
  
  /* font-family: 'Spicy Rice', cursive; */
   font-family: 'Righteous', cursive; 
  /* font-family: 'Luckiest Guy', cursive; */
  /* font-family: 'VT323', monospace; */
  /* font-family: 'Bangers', cursive; */
  /* font-family: 'Sigmar One', cursive; */
  /* font-family: 'Press Start 2P', cursive; */
  /* font-family: 'Bungee', cursive;  */
  }
  